@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p8n5aj');
  src:  url('fonts/icomoon.eot?p8n5aj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p8n5aj') format('truetype'),
    url('fonts/icomoon.woff?p8n5aj') format('woff'),
    url('fonts/icomoon.svg?p8n5aj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\e930";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-printer:before {
  content: "\e954";
}
.icon-profile:before {
  content: "\e971";
}
.icon-tool:before {
  content: "\e991";
}
.icon-job:before {
  content: "\e9ae";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-education:before {
  content: "\e900";
}
